body {
  background-color: black !important;
}
.dropdown-toggle::after {
  content: "";
  border-top: 0 !important;
}
.mughal {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.anam:hover a {
  color: white !important;
}
.anam a {
  transition: all 0.3s;
}
.dropdown-menu:hover a {
  color: gray !important;
}
.dropdown-menu {
  background-color: black !important;
}
.back {
  width: 100%;
  height: 700px;
  position: relative;
  overflow: hidden;
}
.fire {
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: -970px;
  top: -200px;
}
.fan {
  background-attachment: fixed;
  object-fit: cover;
  width: 1500px;
  top: -30px;
  right: -880px;
  position: absolute;
}
.phill {
  background: linear-gradient(to right, rgb(211, 86, 236), rgb(114, 35, 218));
}
.flower {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.register {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.chrome {
  background: linear-gradient(to right, #dd77f7, #7708d8, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.child1 {
  background: linear-gradient(to right, #32e2e2, #2225b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.child2 {
  background: linear-gradient(to right, #15f157, #2225b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.picture {
  position: relative;
}
.gree {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 85px;
}
.max {
  overflow: hidden;

  width: 100%;
  height: 630px;
}
.child5 :hover a {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  color: black;
  background-color: white;
}
.child5 a {
  transition: all 0.1s;
}
.maha :hover a {
  color: white;
}
.maha a {
  color: gray;
  text-decoration: none;
}
.maryam {
  background: linear-gradient(black, black, black, rgb(48, 16, 42));
}
:root {
  --main-color: #be56fe;
}
.border-purple {
  color: var(--main-color);
}
.dua {
  background-color: #1d1a23;
}
.bg-black {
  color: var(#1d1a23);
}
.suki {
  background: linear-gradient(blue, rgb(120, 199, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jiro {
  background: linear-gradient(rgb(138, 55, 163), rgb(206, 212, 120));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.shoda {
  background: linear-gradient(rgb(255, 0, 21), rgb(138, 212, 120));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  } /* moves half because we duplicate */
}

.parent {
  width: 1900px;
  height: 550px;

  grid-template-columns: repeat(9, 300px 300px);
  gap: 1rem;
  display: grid;
  flex-shrink: 0;
}

.child {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}
.child11 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.child12 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.child14 {
  background-color: #1d1a23;
  color: white;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}
.child15 {
  grid-column: 7/8;
  grid-row: 1/2;
}
.child13 {
  grid-column: 3/5;
  grid-row: 1/3;
}
.child17 {
  background-color: #1d1a23;
  color: white;
  text-align: center;
  grid-column: 7/8;
  grid-row: 2/3;
}
.child18 {
  background-color: #1d1a23;
  color: white;
  text-align: center;
  grid-column: 5/6;
  grid-row: 1/2;
}
.child20 {
  grid-column: 5/6;
  grid-row: 2/3;
}
.child19 {
  grid-column: 6/7;
  grid-row: 1/3;
}
.child21 {
  grid-column: 8/10;
  grid-row: 1/3;
}
.tuna {
  position: relative;
}

.key::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(transparent, rgb(0, 0, 0, 0.8));
}
.tuna:hover .key::before {
  z-index: -1;
}
fs-sm {
  font-size: o.9rem;
}
